body {
	max-width: 900px;
	margin: 0 auto;
	box-shadow: 0 0 8px 2px #888;
	background-color: #f0f0f2;
}
.cv {
	background-color: white;
}
.cv .sender-column {
	text-align: right;
	margin-right: 20px;
}
.cv span {
	color: #388403;
	font-weight: bold;
}
.cv p {
	font-size: 1.5em;
}
.experience {
	margin-left: 20px;
}
.experience ul li {
	font-size: 1.2em;
}
.competence {
	margin-left: 20px;
}
.competence ul li {
	font-size: 1.2em;
}